<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Standard #<%= @standard.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Style</dt>
              <dd><%= @standard.style %></dd>

              <dt>Color</dt>
              <dd><%= @standard.color %></dd>

              <dt>Aroma</dt>
              <dd><%= @standard.aroma %></dd>

              <dt>Taste</dt>
              <dd><%= @standard.taste %></dd>

              <dt>Description</dt>
              <dd><%= @standard.description %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), standards_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_standard_path(@standard), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @standard, method: :delete, data: { confirm: "Do you really want to delete this standard?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
